Web Scraper for Housing data

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import time

import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim , ArcGIS
from geopy.exc import GeocoderTimedOut

### conversion rates

In [2]:
#update this if you'd like more current prices
dollar_converter = 15.73 # 1 USD = XXXX EGP - Egypt Pound 

#last update: 02/12/2019

### urls and slugs

In [3]:
egypt_url = "https://www.propertyfinder.eg/en/"

In [4]:
egypt_sale_slug = 'buy/properties-for-sale.html'
egypt_rental_slug = 'rent/properties-for-rent.html'
egypt_comm_slug = 'commercial-rent/properties-for-rent.html'
egypt_proj_slug = 'new-projects'

### List Variables for functions

#### Disclaimer: all variables must have same relative order to keep: <br> buy with buy,<br> rent with rent, <br>commercial with commercial, <br>new projects with new projects

In [5]:
# order of website category menus to pull - these will also be stored as an attribute in a row of data
egypt_order_list = ['buy','rent','commercial','new project']

#list of slugs to add onto url, must be in same order as order list
egypt_slug_list = [ egypt_sale_slug,egypt_rental_slug,egypt_comm_slug, egypt_proj_slug]

#number of pages to pull from each category
num_pages = 2

### make soup list to be used in function later

In [6]:
#creates a soup object for the first webpage under each category
egypt_soup_list = []

for i in egypt_slug_list:
    res = requests.get(egypt_url + i)
    print(res.status_code)
    
    soup = BeautifulSoup(res.content, 'lxml')
    
    #all items in the list will have the exact same name(soup) but this should be irrelevant due to automation
    egypt_soup_list.append(soup)
    time.sleep(1)

200
200
200
200

### Disclaimer:  Length of slug list, soup list and order list must be the same

### Scrape functions

In [7]:
# create soup object before running function
# type_col as string of site type { rent,buy,commercial , new projects }
# country as string name of Country { Egypt, United Arab Emirates, etc.... }
# Scrapes the first pages of a site to produce a pandas database that will be appended later.

def first_scrape(soup_obj,type_col, country):
    # empty lists to store website text
    loc_list = []
    beds_list = []
    baths_list = []
    sqm_list = []
    price_list = [] 
    prop_types_list = []
    city_list = []
    subdiv_list = []
    n=0
    
    # pull text out of the website data and store into variables
    location = soup_obj.find_all('p',{'class':"card__location"})
    beds = soup_obj.find_all('p',{'class':"card__property-amenity card__property-amenity--bedrooms"})
    baths = soup_obj.find_all('p',{'class':"card__property-amenity card__property-amenity--bathrooms"})
    sqm = soup_obj.find_all('p',{'class':"card__property-amenity card__property-amenity--area"})
    price = soup_obj.find_all('p',{'class':"card__price"})
    prop_types = soup_obj.find_all('p',{'class':'card__property-amenity card__property-amenity--property-type'})
    
    # add individual locations into loc_list
    for i in location:
        loc_list.append(i.text.strip())
        
    # each full location string contains up to 5 different comma sperated strings, 
    for i in loc_list:
        #final item in string is city
        city_list.append(loc_list[n].split(",")[-1:])
        # 2nd to last item is the primary subdivision
        subdiv_list.append(loc_list[n].split(",")[-2:-1])
        n+=1 

    # create list with # of beds
    for i in beds:
        beds_list.append(i.text.strip())
    
    # create list with # of baths    
    for i in baths:
        baths_list.append(i.text.strip())
        
    # create list of square meters by replacing commas first, then replacing extra characters
    for i in sqm:
        sqm_list.append(i.text.replace(" ",'').replace("/",'').replace("sqm",''))

    # create list of prices
    for i in price:
        price_str=i.text.strip().replace(",","") # remove commas to ensure price is a single number
        price_clean = [int(s) for s in price_str.split() if s.isdigit()] # remove extra spaces and characters
        price_list.append(price_clean)   
    
    # create list of property types
    for i in prop_types:
        prop_types_list.append(i.text.strip())
    
    # after loops have ran create seperate dataframes for each attribute using their relative lists
    loc_df   = pd.DataFrame(loc_list,columns=["Location"])
    price_df = pd.DataFrame(price_list, columns=["base_price"])
    prop_df  = pd.DataFrame(prop_types_list, columns=["property_type"])
    bath_df  = pd.DataFrame(baths_list,columns=['Baths'])
    bed_df   = pd.DataFrame(beds_list,columns=['Beds'])
    sqm_df   = pd.DataFrame(sqm_list,columns=['Square Meter'])
    city_df = pd.DataFrame(city_list,columns=["city"])
    subdiv_df = pd.DataFrame(subdiv_list,columns=["sub_div"])
    
    
    # Join all databases together
    return_df = loc_df.join(price_df,lsuffix='_caller',rsuffix='_other')
    return_df['price_usd'] = (return_df['base_price']) / (dollar_converter)
    return_df = return_df.join(prop_df,lsuffix='_caller',rsuffix='_other')
    return_df = return_df.join(bed_df,lsuffix='_caller',rsuffix='_other')
    return_df = return_df.join(bath_df,lsuffix='_caller',rsuffix='_other')
    return_df = return_df.join(sqm_df,lsuffix='_caller',rsuffix='_other')
    return_df = return_df.join(subdiv_df,lsuffix='_caller',rsuffix='_other')
    return_df = return_df.join(city_df,lsuffix='_caller',rsuffix='_other')
    return_df["country"] = country
    return_df["page"] = type_col
    
    
    return return_df

In [8]:
# create dataframe object before running function
# target_url as Country specific target url{ egypt_url, uae_url, etc...}
# target_slug as type specific url slug - 
#            this will appened the type onto the url to specifiy buy,rent,commericial,new

# type_col as string of site type to create a column 
                 #in database of property type{ rent,buy,commercial ,new projects }

    
# country as string name of Country to create column with country name{ Egypt, United Arab Emirates, etc.... }


def append_first_scrape (target_url, target_slug, end_page, dataframe, type_col, country):
    # start at 2 because the first function already gets page 1
    for i in range(2,(end_page+1)):
        page = f'?page={i}'
        res = requests.get(target_url + target_slug+ page)
        print(f"scraping {target_url}{target_slug}{page}")
        soup = BeautifulSoup(res.content,'lxml')
        
        inner_scrape_df = first_scrape(soup,type_col, country)
        dataframe = dataframe.append(inner_scrape_df,ignore_index=True,sort=True)
        
        time.sleep(60) #keep in or get banned from the website
                        # Attempts to set it any lower result in getting temporary blocked by the site
                        # if trying to pull  5+ number of pages

    return dataframe

In [9]:
# This function combines first_scrape and append_first_scrape to be used in one function

#  Url : primary url , without any slugs
#  slug_list : list of slugs created at top of notebook
#  soups_list : list of beautiful soup objects
#  order_list : list of  menus that will be iterated through
#  num_iter : number of pages to scrape for each menu


def egypt_property_web_scraper(url, slug_list, soups_list, order_list,num_iter):
    # zip together lists - this is why relative order of the lists must be the same
    zipped = zip(soups_list, slug_list,order_list)
    zipped_list = list(zipped)
    
    export_df = pd.DataFrame()#empty dataframe
    
    for soup ,slug , sale in zipped_list:
        #soup - one beautiful soup object per iteration
        #slug - one slug object per iteration
        #sale - one sale object per iteration
        first_df = first_scrape(soup,type_col=sale,country="Egypt")
        second_df = append_first_scrape(url,slug,num_iter, first_df,type_col=sale,country = "Egypt")
        export_df = export_df.append(second_df, ignore_index=True,sort=True)
        
        time.sleep(30) #keep in or get banned from the website
                        # Attempts to set it any lower result in getting temporary blocked by the site
                        # if trying to pull  5+ number of pages
        
    return export_df

In [10]:
df = egypt_property_web_scraper(egypt_url, egypt_slug_list, egypt_soup_list, egypt_order_list,num_pages)

scraping https://www.propertyfinder.eg/en/buy/properties-for-sale.html?page=2
scraping https://www.propertyfinder.eg/en/rent/properties-for-rent.html?page=2
scraping https://www.propertyfinder.eg/en/commercial-rent/properties-for-rent.html?page=2
scraping https://www.propertyfinder.eg/en/new-projects?page=2

In [11]:
df.shape

(150, 11)

In [12]:
df.head()

,Baths,Beds,Location,Square Meter,base_price,city,country,page,price_usd,property_type,sub_div
0,4,4,"Hyde Park, 5th Settlement Compounds, The 5th S...",236,2250000,Cairo,Egypt,buy,143038.779402,Apartment,New Cairo City
1,5,4,"Allegria, Sheikh Zayed Compounds, Sheikh Zayed...",470,7200000,Giza,Egypt,buy,457724.094088,Villa,Sheikh Zayed City
2,3,3,"Hyde Park, 5th Settlement Compounds, The 5th S...",211,2700000,Cairo,Egypt,buy,171646.535283,Apartment,New Cairo City
3,3,3,"Tag Sultan, Ring Road, Cairo",168,1950000,Cairo,Egypt,buy,123966.942149,Apartment,Ring Road
4,5,5,"Mountain View Hyde Park, 5th Settlement Compou...",375,6250000,Cairo,Egypt,buy,397329.942784,Twin House,New Cairo City

In [13]:
# drop duplicates and re-index to make further calculation quicker.
df = df.drop_duplicates().reset_index(drop=True)

In [14]:
df.drop_duplicates().to_csv("./CSVs/egypt_all.csv", index=False)

### Switching between locators if we get timed out of one for pulling too much data, 
> Nominatim is best for our data.

In [15]:
nom_locator = Nominatim(user_agent="myGeocoder")

In [16]:
arc_locator= ArcGIS()

In [17]:
def Lat_Long_Finder(dataframe, start_num, locator):
    dataframe['lat'] = 0.0
    dataframe['lon'] = 0.0

    error_list =[]
    while start_num < len(dataframe):
        try:
            #create a location string , geocode will try and place the string on a map and return
            #attributes including lattitude and longitude
            location = locator.geocode(dataframe["Location"][start_num].split(",")[2] + ",Cairo,Egypt" , timeout=10)

            #using 'at' to change single cells within a row
            dataframe.at[start_num, 'lat']= location.latitude
            dataframe.at[start_num, 'lon']= location.longitude

        # errors on rows of data are skipped by passing these errors
        # passed errors are printed out on screen and their row # is stored in error_list
        except AttributeError:
            print (f'Passed AttributeError on line: {start_num}')
            error_list.append(start_num)
            pass

        except IndexError:
            print (f'Passed IndexError on line: {start_num}')
            error_list.append(start_num)
            pass

        except GeocoderTimedOut:
            print (f'Passed GeocoderTimedOut Error on line: {start_num}')
            error_list.append(start_num)
            pass

        except NameError:
            print (f'Passed NameError on line: {start_num}')
            error_list.append(start_num)
            pass

        if start_num %50 == 0:
            print(f"{start_num} rows of data attempted conversion out of {len(dataframe)}.")
        
            
        time.sleep(3) # Nominatium suggests 1 second pause, 3 second pause needed for arcgis
        start_num+=1
        
        if start_num == len(dataframe):
            print("completed")
    
    return dataframe

In [18]:
df = Lat_Long_Finder(df,0 , nom_locator)

0 rows of data attempted conversion out of 148.
Passed AttributeError on line: 10
Passed AttributeError on line: 11
Passed AttributeError on line: 19
Passed AttributeError on line: 26
Passed AttributeError on line: 35
Passed AttributeError on line: 40
Passed AttributeError on line: 48
50 rows of data attempted conversion out of 148.
100 rows of data attempted conversion out of 148.
completed

In [19]:
df.head(5)

,Baths,Beds,Location,Square Meter,base_price,city,country,page,price_usd,property_type,sub_div,lat,lon
0,4,4,"Hyde Park, 5th Settlement Compounds, The 5th S...",236,2250000,Cairo,Egypt,buy,143038.779402,Apartment,New Cairo City,30.063579,31.447190
1,5,4,"Allegria, Sheikh Zayed Compounds, Sheikh Zayed...",470,7200000,Giza,Egypt,buy,457724.094088,Villa,Sheikh Zayed City,30.048347,30.983224
2,3,3,"Hyde Park, 5th Settlement Compounds, The 5th S...",211,2700000,Cairo,Egypt,buy,171646.535283,Apartment,New Cairo City,30.063579,31.447190
3,3,3,"Tag Sultan, Ring Road, Cairo",168,1950000,Cairo,Egypt,buy,123966.942149,Apartment,Ring Road,30.048819,31.243666
4,5,5,"Mountain View Hyde Park, 5th Settlement Compou...",375,6250000,Cairo,Egypt,buy,397329.942784,Twin House,New Cairo City,30.063579,31.447190

In [20]:
df.tail(5)

,Baths,Beds,Location,Square Meter,base_price,city,country,page,price_usd,property_type,sub_div,lat,lon
143,NaN,NaN,"The Water Way, North Investors Area, New Cairo...",180,144000,Cairo,Egypt,commercial,9154.481882,Office Space,New Cairo City,30.020128,31.498221
144,NaN,NaN,"Capital Business Park, 26th of July Corridor, ...",950,420000,Giza,Egypt,commercial,26700.572155,Office Space,Sheikh Zayed City,30.048347,30.983224
145,NaN,NaN,"Gameat Al Dewal Al Arabeya St., Mohandessin, Giza",800,96840,Giza,Egypt,commercial,6156.389065,Office Space,Mohandessin,30.017004,31.213451
146,NaN,NaN,"North Teseen St., The 5th Settlement, New Cair...",49,20000,Cairo,Egypt,commercial,1271.455817,Office Space,New Cairo City,30.020128,31.498221
147,NaN,NaN,"South Teseen St., The 5th Settlement, New Cair...",60,24000,Cairo,Egypt,commercial,1525.746980,Office Space,New Cairo City,30.020128,31.498221

In [21]:
df.drop_duplicates().shape

(148, 13)

In [22]:
df= df.drop_duplicates().reset_index(drop=True)

In [23]:
df.loc[df['lat']==0.0].shape

(7, 13)

In [24]:
df.to_csv("./CSVs/with_coords.csv", index=False)